* 
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body 
{
    background-color: teal;
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container 
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1.1fr 1.9fr;
}



/* KIRI */



.container .kiri 
{
    position: relative;
    background-color: rgba(14, 17, 23, 0.904);
    padding: 40px;
}

.profil 
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 3px solid teal;
}

.profil .img 
{
    background: url(admin/conten/img/MyPhoto.jpg);
    background-position: 5px ;
    background-size: cover;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profil h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profil h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.profilinfo {
    padding-top: 40px;
}

.profilinfo .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.profilinfo ul {
    position: relative;
}
.profilinfo ul li {
    position: relative;
    list-style: none;
    margin: 13px 0;
    cursor: pointer;
}
.profilinfo ul li .logo {
    display: inline-block;
    color: rgb(17, 147, 147);
    width: 25px;
    font-size: 18px;
}
.profilinfo ul li span {
    color: rgb(216, 245, 235);
    font-weight: 300;
}

.profilinfo.pendidikan li {
    margin-bottom: 15px;
}
.profilinfo.pendidikan li h5 {
    color: rgb(17, 147, 147);
    font-weight: 500;
}
.profilinfo.pendidikan li h4:nth-child(2) {
    color: rgb(216, 245, 235);
    font-weight: 500;
}
.profilinfo.pendidikan li h4 {
    color: rgb(216, 245, 235);
    font-weight: 300;
}

.profilinfo.bahasa .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(6, 68, 68);
    display: block;
    margin-top: 5px;
}
.profilinfo.bahasa .bar div {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    background-color: rgb(36, 182, 182);
}




/* KANAN */




.container .kanan 
{
    position: relative;
    background-color: rgba(255, 255, 255, 0.904);
    padding: 40px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.8)
}

.tentang {
    margin-bottom: 100px;
}
.tentang:last-child {
    margin-bottom: 0%;
}

.kanan .tentang .judul {
    color: rgb(12, 88, 88);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.kanan .tentang h5 {
    color: rgb(17, 147, 147);
    font-weight: 500;
    margin-top: 25px;
}
.kanan .tentang h4 {
    color: rgb(6, 84, 79);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.kanan .tentang p {
    font-size: 0.9em;
    letter-spacing: 0.5px;
}




/* back button */


.kembali {
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.kembali button {
    cursor: pointer;
    border: 0;
    background-color: white;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(12, 88, 88);
}

.kembali button:hover {
    color: rgb(35, 186, 186);
    transition: all 0.2s;
}