body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.container{
    width: 85%;
    background-color: white;
    margin: auto;
}
.header {
    padding: 20px;
    
}
.img{
    height: auto;
    background: url("image/komputer.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.img span {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 4em;
}
.img p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 100;
}
.img a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
}
.img a:hover{
    color: black;
    background-color: white;
}

.conten{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.2);
}
.conten span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 100;
    color: rgba(51, 51, 51, 0.384);
    
}
.data{
    display: flex;
    padding: 30px;
}
.data img {
    width: 200px;
    height: 250px;
    border-radius: 5px;;
    box-shadow:  0 4px 8px 0 rgb(0, 0, 0, 0.2);
}
.data table {
    padding: 20px;
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.footer{
    background-color: #2c3e50;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
